<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>Cleanup</servlet-name>
		<servlet-class>org.decojer.web.servlet.CleanupServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Download</servlet-name>
		<servlet-class>org.decojer.web.servlet.DownloadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DecoJerQueue</servlet-name>
		<servlet-class>org.decojer.web.servlet.DecoJerQueueServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FrontendChannelQueue</servlet-name>
		<servlet-class>org.decojer.web.servlet.FrontendChannelQueueServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Upload</servlet-name>
		<servlet-class>org.decojer.web.servlet.UploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cleanup</servlet-name>
		<url-pattern>/admin/cleanup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DecoJerQueue</servlet-name>
		<url-pattern>/_ah/queue/decoJer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Download</servlet-name>
		<url-pattern>/download/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FrontendChannelQueue</servlet-name>
		<url-pattern>/_ah/queue/frontendChannel</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Upload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Admin Pages</web-resource-name>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
</web-app>