<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.decojer.editor.eclipse.ClassEditor"
            contributorClass="org.decojer.editor.eclipse.ClassEditorContributor"
            default="true"
            extensions="class,jar,dex,apk"
            icon="icons/sample.gif"
            id="decojer.editor.ClassEditor"
            name="Class Editor">
      </editor>
   </extension>

</plugin>
