<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestAll" parallel="tests" thread-count="4">
	<test name="model">
		<classes>
			<class name="org.decojer.cavaj.model.TestR" />
			<class name="org.decojer.cavaj.model.TestT" />
			<class name="org.decojer.cavaj.model.TestDU" />
		</classes>
	</test>
	<test name="readers">
		<classes>
			<class name="org.decojer.cavaj.readers.asm.TestReadUtils" />
		</classes>
	</test>
	<test name="utils">
		<classes>
			<class name="org.decojer.cavaj.utils.TestExpressions" />
		</classes>
	</test>
</suite>